<footer>
  	<div class="row">

      <div class="col-sm-2">
      	<%= link_to '#Service' do %>
          <br><br><p class="list"><i class="fas fa-users"></i> SERVICE</p>
        <% end %>
      </div>

      <div class="col-sm-2">
        <%= link_to '#Company' do %>
          <br><br><p class="list"><i class="far fa-building"></i> COMPANY</p>
        <% end %>
      </div>

      <div class="col-sm-2">
        <%= link_to '#Contact' do %>
          <br><br><p class="list"><i class="far fa-envelope"></i> CONTACT</p>
        <% end %>
      </div>

      <div class="col-sm-6">
        <span id="back">
          <a href="#">
            <p class="title">Luxe Resorts</p>
          </a>
        </span>
      </div>

    </div>

      <p class="address">大阪府大阪市北区天満2-8-17<br>天満橋パークビル4階<br>06-7182-2493</p>

</footer>