/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libre+Barcode+EAN13+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Courgette&family=Josefin+Sans:wght@100&display=swap');

.center{
	text-align: center;
}
.left{
	float: left;
}
.Editlink:link, .Editlink:visited, .Editlink:active{
	text-decoration: none;
}
body{
	width: 100%;
	font-family: 'Noto Serif JP', serif;
}


header{
	height: 100px;
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	position: fixed;
	z-index: 1;
	top: 0;
    left: 0;
	transition: all 0.5s ease;
}
.video{
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
    left: 0;
}
.video-content{
	height:100vh;
	width:100%;
    object-fit: cover;
}
.title{
	font-family: 'Italianno', cursive;
	font-size: 75px;
	color: black;
}
.list{
	font-size: 20px;
	color: black;
}




.text{
	color: white;
	text-align: center;
	height: 550px;
	width: 100%;
	margin-top: 900px;
	background-color: rgba(0,0,0,0.6);
}
.text-title{
	opacity: 0;
	font-size: 30px;
}
.text-text{
	opacity: 0;
	font-size: 20px;
}
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:4s;
 -ms-animation-duration:4s;
 animation-duration:4s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}



.service{
	text-align: center;
	font-size: 60px;
	line-height: 100vh;
	height: 100vh;
	background-color: white;
}




.contact{
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
}
.contact-head{
	height: 15vh;
	color: white;
}
.contact-title{
	font-family: 'Courgette', cursive;
	font-family: 'Italianno', cursive;
	font-size: 130px;
	line-height: 18vh;
	text-align: center;
}
.contact-form{
	color: white;
}
.contact-text{
	font-size: 18px;
}


footer{
	color: white;
	background-color: black;
	height: 25vh;
}
.title2{
	font-family: 'Italianno', cursive;
	font-size: 70px;
	color:white;
}
.list2{
	font-size: 20px;
	color: white;
}

