/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libre+Barcode+EAN13+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

.center{
	text-align: center;
}
.left{
	float: left;
}
.Editlink:link, .Editlink:visited, .Editlink:active{
	text-decoration: none;
}
body{
	font-family: 'Noto Serif JP', serif;
}




.top{
	background-image: url('sample.jpg');
	background-size: cover;
	height:100vh;
	width: 100%;
}
.title{
	font-family: 'Italianno', cursive;
	font-size: 70px;
	color: black;
}
.list{
	font-size: 20px;
	color: black;
}




.text{
	height: 50vh;
}




.business{
	height: 100vh;
}




.contact{
	height: 100vh;
}
.contact-head{
	background-image: url('contact.jpg');
	background-size: cover;
	background-color: black;
	height: 25vh;
}
.contact-title{
	font-family: 'Brygada 1918', serif;
	font-size: 50px;
	line-height: 25vh;
	text-align: left;
	margin-left: 150px;
}
.contact-text{
	font-size: 18px;
}



footer{
	color: white;
	background-color: black;
	height: 25vh;
}
.title2{
	font-family: 'Italianno', cursive;
	font-size: 70px;
	color:white;
}
.list2{
	font-size: 20px;
	color: white;
}

.btn{
	border-radius: 50%;
	box-shadow    : 6px 6px 3px #666666;
}
