/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";


// 共通------------------------------------------------

.center{
	text-align: center;
}

.left{
	float: left;
}

.Editlink:link, .Editlink:visited, .Editlink:active, .Editlink:hover{
	text-decoration: none;
}

body{
	width: 100vw;
	font-family:YuMincho, serif;
}


// ヘッダー------------------------------------------------

header{
	height: 10rem;
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	position: fixed;
	z-index: 1;
	top: 0;
    left: 0;
	transition: all 0.5s ease;

	.title{
		font-family:"Antro Vectra";
		font-size: 6rem;
		color: black;
		padding-top: 1.5rem;
		color: black;
	}

	.list{
		font-size: 2rem;
		color: black;
	}
}


// 動画------------------------------------------------

.video{
	width: 100%;
	position: fixed;
	top: 0;
    left: 0;
	z-index: -1;
}

.video-content{
	height:100vh;
	width:100%;
    object-fit: cover;
}


// 社訓的な------------------------------------------------

.motto{
	color: white;
	text-align: center;
	height: 60rem;
	width: 100%;
	margin-top: 100vh;
	background-color: rgba(0,0,0,0.6);

	.motto-title{
		opacity: 0;
		font-size: 3.5rem;
	}
	.motto-text{
		opacity: 0;
		font-size: 2rem;
	}
	.droneimg{
		opacity: 0;
		position: relative;
		top :-10rem;
		left: 15rem;
	}
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:4s;
 -ms-animation-duration:4s;
 animation-duration:4s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


// サービス------------------------------------------------

.service{

	padding-top: 5rem;
	padding-bottom: 10rem;
	background-color: rgba(255,255,255,0.7);

	.title{
		margin-left: 5rem;
		font-family:"Antro Vectra";
		font-size: 6rem;
	}

	.list{
		height: 40rem;
		width:75vw;
		z-index: 1;
	}

	.mask{
		height: 40rem;
		width: 75vw;
		z-index: 2;
		background-color: rgba(0,0,0,0.3);
		position: relative;
	}

	.text{
		background-color: rgba(255,255,255,0.7);
		height: 33rem;
		width: 40%;
		position: absolute;
		left: 25vw;
		top: 4rem;
		padding: 3rem;
		z-index: 3;

		hr{
			color: black;
		}

		.head{
			font-weight: bold;
			font-size: 3rem;
		}

		.explain{
			font-family :"游ゴシック体", YuGothic;
			font-size: 1.5rem;
		}
	}

	.drone{
		opacity: 0;
		background-image: url("drone.jpg");
		background-size: cover;
		}

	.it{
		opacity: 0;
		background-image: url("it.jpg");
		background-size: cover;
		margin-left: 25vw;
	}

	.resort{
		opacity: 0;
		background-image: url("resort.jpg");
		background-size: cover;
	}
}

.SlideRight {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:2s;
 -ms-animation-duration:2s;
 animation-duration:2s;
 -webkit-animation-name: SlideRight;
 animation-name: SlideRight;
 visibility: visible !important;
}
@-webkit-keyframes SlideRight {
 0% { opacity: 0.2; -webkit-transform: translateX(-75vw); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes SlideRight {
 0% { opacity: 0.2; -webkit-transform: translateX(-75vw); -ms-transform: translateX(-75vw); transform: translateX(-75vw); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateY(0); transform: translateX(0); }
}

.SlideLeft {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:2s;
 -ms-animation-duration:2s;
 animation-duration:2s;
 -webkit-animation-name: SlideLeft;
 animation-name: SlideLeft;
 visibility: visible !important;
}
@-webkit-keyframes SlideLeft {
 0% { opacity: 0.2; -webkit-transform: translateX(75vw); }
 100% { opacity: 1; -webkit-transform: translateX(0); }
}
@keyframes SlideLeft {
 0% { opacity: 0.2; -webkit-transform: translateX(75vw); -ms-transform: translateX(75vw); transform: translateX(75vw); }
 100% { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateY(0); transform: translateX(0); }
}


// 会社概要------------------------------------------------

.company{

	background-color: rgba(0,0,0,0.8);
	padding-bottom: 10rem;
	color: white;

	.title{
		font-family:"Antro Vectra";
		font-size: 6rem;
		text-align: center;
		padding: 10rem 4rem 4rem 0;
		margin-bottom: 3rem;
	}

	table{
		font-size: 1.7rem;
	}

}


// 問い合わせ------------------------------------------------

.contact{

	background-color: rgba(255,255,255,0.9);
	padding-bottom: 10rem;

	.title{
		font-family:"Antro Vectra";
		font-size: 6rem;
		text-align: center;
		padding: 10rem 4rem 4rem 0;
	}

	.text{
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	.form-control{
		border-radius: 0;
		resize: none;
	}
}


.btn, .btn:hover, .btn:active, .btn:link, .btn:visited,{
	width: 12rem;
	padding: 0.8rem 0.6rem;
	color: white;
	border: solid 1px black;
	background-color: black;
	display: inline-block;
	text-decoration: none;

}




// フッター------------------------------------------------

footer{
	color: white;
	background-color: rgba(0,0,0,0.9);
	height: 25vh;

	.title{
		padding-top: 2rem;
		font-family:"Antro Vectra";
		font-size: 5rem;
		color:white;
	}

	.list{
		font-size: 2rem;
		color: white;
	}
}







